**/__pycache__
build/
var/
Dockerfile
.dockerignore
.git/
.gitignore
.vscode/
.env
env/
venv/
gobo_venv/
logs/
*.log
node_modules/
.DS_Store
/migrations
Makefile
.gitignore
git
gobo_venv
venv
README.md